.nav-heading {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  margin-top: 32px;
  border-bottom: 1px solid rgba(11, 11, 13, 0.2);
  padding-bottom: 16px;

  .heading-left {
    display: flex;
    text-align: center;

    div {
      margin-right: 2px;
    }

    .item-1 {
      background: #0b0b0d;
      color: #ffffff;
      width: 51px;
      height: 32px;
      border: 1px solid #0b0b0d;
      border-radius: 6px 0px 0px 6px;
      opacity: 1;
      padding: 6px 18px;
    }
    .item-2 {
      background: #e9ebef;
      color: #0b0b0d;
      width: 86px;
      height: 32px;
      border: 1px solid #0b0b0d0d;
      padding: 6px 20px;

      span {
        border-left: 3px solid #1170fe;
        padding-left: 5px;
      }
    }
    .item-3 {
      background: #e9ebef;
      color: #0b0b0d;
      width: 75px;
      height: 32px;
      border: 1px solid #0b0b0d0d;
      border-radius: 0px 6px 6px 0px;
      padding: 6px 18px;

      span {
        border-left: 3px solid #ffd500;
        padding-left: 5px;
      }
    }
  }
  .heading-right {
    display: flex;
    text-align: center;

    div:not(:last-child) {
      margin-right: 8px;
    }
    .item-4 {
      background: #e9ebef;
      color: #0b0b0d;
      width: 75px;
      height: 32px;
      border-radius: 6px;
      padding: 6px 8px;
    }
    .item-5 {
      background: #0b0b0d;
      color: #ffffff;
      width: 32px;
      height: 32px;
      border-radius: 6px;
      padding: 4px;

      img {
        height: 16px;
      }
    }
    .item-6 {
      background: #0b0b0d;
      color: #ffffff;
      width: 32px;
      height: 32px;
      border-radius: 6px;
      padding: 6px;

      span {
        font-size: 16px;
      }
    }
    .item-7 {
      display: flex;
      align-items: center;
      background: #1170fe;
      color: #ffffff;
      width: 100px;
      height: 32px;
      padding: 6px 16px;
      border-radius: 6px;

      .icon-chevron-down {
        padding-left: 4px;
      }
    }
  }
}

// Content Section

.content {
  .content-heading {
    display: flex;

    img {
      margin-right: 20px;
    }

    h3 {
      font-size: 14px;
      font-weight: 700;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 0;
    }
    span {
      font-size: 12px;
      font-weight: 400;
      color: #f52121;
    }
  }

  .content-activity {
    margin-top: 32px;

    h3 {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    .content-cells {
      display: flex;
      background: #ffffff;
      align-items: center;
      height: 60px;
      padding: 0 16px;
      border-radius: 7px;
      margin-bottom: 2px;

      .content-checkbox {
        margin-right: 18px;
      }
      .content-text {
        margin-right: auto;
        padding: 9px 0 7px 0;
        h3 {
          font-size: 14px;

          span {
            background: #e9ebef;
            border-radius: 50%;
            margin-right: 12px;
          }
        }
        p {
          font-size: 12px;
          margin-bottom: 0;
          opacity: 0.5;

          span {
            border-left: 3px solid #ffd500;
            padding-right: 4px;
          }
        }
      }
      .content-cal {
        p {
          font-size: 12px;
          color: #1170fe;
        }
        .cal-g {
          font-size: 12px;
          color: #0b0b0d;
          opacity: 0.5;
        }
      }
    }
  }

  .content-task {
    margin-top: 24px;
    h3 {
      font-size: 14px;
      font-weight: 700;
      color: #f52121;
    }
    .task-cells {
      display: flex;
      background: #ffffff;
      align-items: center;
      height: 60px;
      padding: 0 16px;
      border-radius: 7px;
      margin-bottom: 2px;
    }

    .task-checkbox {
      margin-right: 18px;
    }
    .task-text {
      margin-right: auto;
      padding: 9px 0 7px 0;
      h3 {
        font-size: 14px;
        color: #0b0b0d;

        span {
          background: #e9ebef;
          margin-left: 12px;
        }
      }
      p {
        font-size: 12px;
        margin-bottom: 0;
        opacity: 0.5;

        span {
          border-left: 3px solid #1170fe;
          padding-right: 4px;
        }
      }
    }
    .cent {
      width: 37px;
      height: 16px;
      background: #d3425b;
      color: #ffffff;
      border-radius: 12px;
      font-size: 9px;
      text-align: center;
      margin-right: 24px;
      padding: 2px 10px;
    }

    .task-cal {
      p {
        font-size: 12px;
        color: #1170fe;
        margin-bottom: 0;
      }
      .cal-t {
        font-size: 12px;
        color: #0b0b0d;
        opacity: 0.5;
      }
    }
  }

  .content-today {
    margin-top: 24px;

    h3 {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    .today-cells {
      display: flex;
      background: #ffffff;
      align-items: center;
      height: 60px;
      padding: 0 16px;
      border-radius: 7px;
      margin-bottom: 2px;
    }
    .today-checkbox {
      margin-right: 18px;
    }
    .today-text {
      margin-right: auto;
      padding: 9px 0 7px 0;
      h3 {
        font-size: 14px;
        color: #0b0b0d;

        span {
          background: #e9ebef;
          margin-left: 12px;
        }
      }
      p {
        font-size: 12px;
        margin-bottom: 0;
        opacity: 0.5;

        span {
          border-left: 3px solid #1170fe;
          padding-right: 4px;
        }
      }
    }
    .cent {
      width: 37px;
      height: 16px;
      background: #f2aa23;
      color: #ffffff;
      border-radius: 12px;
      font-size: 9px;
      text-align: center;
      margin-right: 24px;
      padding: 2px 10px;
    }
    .today-cal {
      p {
        font-size: 12px;
        color: #1170fe;
        margin-bottom: 0;
      }
      .cal-t {
        font-size: 12px;
        color: #0b0b0d;
        opacity: 0.5;
      }
    }
  }

  .content-upcoming {
    margin-top: 24px;

    h3 {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 12px;
    }
  }
}

// Frame Content
.frame-content {
  .frame {
    .frame-heading {
      display: flex;

      h3 {
        font-size: 14px;
        margin-right: auto;
      }

      a {
        font-size: 12px;
        text-decoration: none;
      }
    }

    .frame-box {
      display: flex;
      background: #ffffff;
      align-items: center;
      height: 60px;
      padding: 0 16px;
      border-radius: 6px;
      margin-bottom: 5px;

      .icons {
        width: 30px;
        height: 28px;
        background: #e9ebef;
        color: #0b0b0d;
        margin-right: 10px;
        border-radius: 7px;

        span {
          padding: 7px;
          font-size: 16px;
        }
      }

      .text {
        margin-right: auto;
        h4 {
          font-size: 12px;
          font-weight: 400;
          color: #1170fe;
          margin-bottom: 0;
        }
        p {
          font-size: 14px;
          margin-bottom: 0;
        }
      }

      span {
        font-size: 12px;
        font-weight: 300;
        padding-bottom: 24px;
        opacity: 0.6;
      }
    }
  }
}
