@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: #f8f8fb;
  color: #0b0b0d;
}

.app-container {
  padding: 20px 20px;
  height: auto;
  min-height: 100%;
  margin: 0 24px 0 75px;
}

.grid-section {
  margin-top: 24px;
}

.text-low {
  opacity: 0.3;
}

.main-section {
  display: flex;
}

.left-section {
  width: calc(100% - 320px);
  margin-right: 25px;
}

.right-section {
  width: 320px;
}

.div-icon-1 {
  background: #e9ebef;
  border-radius: 6px;
  padding: -1px;
  margin-left: 21px;
  opacity: 0.5;
}

.div-icon-2 {
  background: #e9ebef;
  border-radius: 6px;
  padding: -1px;
  margin-left: 14px;
  opacity: 0.5;
}

h3 {
  margin-bottom: 0;
}

.icon-subtask {
  padding: 5px;
  font-size: 12px;
}
.icon-attachment {
  padding: 5px;
  font-size: 12px;
}
.icon-dependent-task {
  padding: 5px;
  font-size: 12px;
}

.d-flex {
  align-items: center;
}

table {
  width: 100%;
}

.div-icon-1,
.div-icon-2 {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding-right: 5px;
}
