.topnav {
  display: flex;
  justify-content: space-between;
  .topnav-item1 {
    h3 {
      font-size: 20px;
      font-weight: 700;
      color: #0b0b0d;
    }
  }
  .topnav-item2 {
    a {
      font-size: 14px;
      text-decoration: none;
    }

    a:nth-child(1) {
      color: #0b0b0d;
      padding-right: 28px;

      span {
        border-bottom: 2px solid #1170fe;
        padding-bottom: 8px;
      }
    }
    a:nth-child(2) {
      font-weight: 400;
      color: #0b0b0d;
      padding-right: 28px;
      opacity: 0.4;
    }
    a:nth-child(3) {
      font-weight: 400;
      color: #0b0b0d;
      opacity: 0.4;
    }
  }
  .topnav-item3 {
    a {
      color: #0b0b0d;
    }
    a:first-child {
      color: #1170fe;
    }
    a:not(:last-child) {
      padding-right: 24px;
    }
  }
}
